<html>
<head>
<title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginStyle.css">
<body>
    <div class="loginbox">
    <img src="/avatar.png" class ="avatar">
        <h1>Login Here</h1>
            <p>Username</p>
            <input id="user" type="text" name="" placeholder="Enter E-mail">
            <p>Password</p>
            <input id="password" type="password" name="" placeholder="Enter Password">
            <input id="loginButton" type="submit" name="" value="Login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>

    </div>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <script src="/scripts/loginApp.js"></script>
</body>
</head>
</html>
