<!DOCTYPE html> 
<html> 
<head>
	<title>browngineerz hw1 about</title> 
	<link rel="stylesheet" type="text/css" href="proj1.css">  
	<link rel="icon" href="longhorn.png">
		
<style> 



</style> 
</head>
	
<body >
	  
	 
    <div class='header'> 
	<h1><font face = "Century Gothic"><mark>about</mark></h1> 		
	<p align='center' font size ='8'>who we are</p><hr/>
	</div> 
	 
	<div style='text-align: center'> <a href= 'https://www.linkedin.com/in/rohan-chaudhry/' target='_blank' >login</a> | <a href= 'https://www.google.com/' target='_blank' >help</a> </div> 
	
	<div class = 'about' > 
	<p><mark>rohan chaudhry </mark>| mechanical engineer - frontend developer - puppy enthusiast </p> 
	<p><mark>shane mathew </mark>| mechanical engineer - frontend developer - the dancing twin</p> 
	<p><mark>mehul mittal </mark>| finance BHP - backend developer - fashion mogul</p> 
	<p><mark>mohammad syed </mark>| humanities - backend developer - future NBA star </p> 
	-  -  - 
	<p><mark>coffman-wolph </mark>|  51475 | TTH 11-12:30p</p> 
	
	</div> 
	
</body> 
</html> 