<!DOCTYPE html> 
<html> 
<head>
	<title>browngineerz hw1 help</title> 
	<link rel="stylesheet" type="text/css" href="proj1.css">  
	<link rel="icon" href="longhorn.png">
		
<style> 



</style> 
</head>
	
<body >
	  
	 
    <div class='header'> 
	<h1><font face = "Century Gothic"><mark>help</mark></h1> 		
	<p align='center' font size ='8'>how to operate our page</p><hr/>
	</div> 
	<p align ='center'> <a href= 'https://www.linkedin.com/in/rohan-chaudhry/' target='_blank' >login</a> | <a href= 'https://www.google.com/' target='_blank' >about</a> </p> 
	
	<div class = 'about' > 
	<p><mark>login </mark>| help about our login idk </p> 
	<p><mark>authentication </mark>| info about authentication?? idk</p> 
	<p><mark>opt 3 </mark>| do we even need a help page </p> 
	<p><mark>opt 4 </mark>| it's highkey self explanatory </p> 
	-  -  - 
	<p><mark>coffman-wolph </mark>|  51475 | TTH 11-12:30p</p> 
	
	</div> 
	
</body> 
</html> 