<!DOCTYPE html>
<html>
  <head lang="en">
  <meta charset="UTF-8">
  </head>
<body>

  <form>
    <label><b>Submit your question(s):</b><br/></label>
    <textarea name="questions" rows="10" cols="60" id="user_input"></textarea>
    <!--input type="text" name="message" id="user_input"-->
  </form>
  <input type="submit" onclick="showInput();"><br/>
  <p><label>Questions Queue: </label></p>
  {{#each questions}}
    <p>{{this}}</p>
  {{/each}}
</body>
</html>
