<!DOCTYPE html>
<html>
  <title>CS329e Student View</title>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body>
  <form action="/submit-question" method="POST" id="question_submit">
    <label><b>Submit a question:</b><br/></label>
    <textarea form="question_submit" name="question" rows="10" cols="60" ></textarea>
    <input type="submit"><br/>
  </form>
  <p><label>Questions Queue: </label></p>
  {{#each questions}}
    <p>{{this}}</p>
  {{/each}}
</body>
</html>
