<!DOCTYPE html>
<html>
  <head lang="en">
  <meta charset="UTF-8">
  </head>
<body>

  <form action="/submit-question" method="POST" id="question_submit">
    <label><b>Submit a question:</b><br/></label>
    <textarea form="question_submit" name="question" rows="10" cols="60" ></textarea>
    <input type="submit"><br/>
  </form>
  <p><label>Questions Queue: </label></p>
  {{#each questions}}
    <p>{{this}}</p>
  {{/each}}
</body>
</html>

<!--
<!DOCTYPE html>
<html>
  <p class = "first"><b>Welcome to CS329E: Software Engineering</b></p>
  <link rel = "stylesheet" title = "basic style" type = "text/css" href="./StudentView.css" media="all" />
  <head lang="en">
  <meta charset="UTF-8">
  <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML =
                    document.getElementById("user_input").value;
    }
  </script>
  </head>
<body>
  <form>
    <label><b>Submit your question(s):</b><br/></label>
    <textarea name="questions" rows="10" cols="60" id="user_input"></textarea>
  </form>
  <input type="submit" onclick="showInput();"><br/>
  <div>
    <p><label><b>Questions Queue: </b></label></p>
    <p><br/><span id='display'></span></p>
  </div>
</body>
</html>
-->
